@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <ul id="modile-dropdown-menu" class="dropdown-content">
        <li><a href="#!">Login</a></li>
        <li><a href="#!">Register</a></li>
        <li class="divider"></li>
    </ul>
    <a href="#" data-target="modile-dropdown-menu" class="right dropdown-trigger pink-text text-darken-4 sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
        <li>
            <a href="#" class="pink-text text-darken-4">Login</a>
        </li>
    </ul>
    <ul class="right hide-on-med-and-down">
        <li>
            <a href="#" class="pink-text text-darken-4">Register</a>
        </li>
    </ul>

}
